<!DOCTYPE html>
<html lang="en" class="dark">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}NFT Marketplace{% endblock %}</title>
    <script src="https://cdn.tailwindcss.com"></script>

    <!-- exo2 -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />

    <!-- outfit -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap"
      rel="stylesheet"
    />

    <!-- pixelify -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap"
      rel="stylesheet"
    />

    <script>
      tailwind.config = {
        darkMode: "class",
        theme: {
          extend: {
            colors: {
              primary: {
                50: "#f0f9ff",
                500: "#3b82f6",
                600: "#2563eb",
                700: "#1d4ed8",
                800: "#1e40af",
                900: "#1e3a8a",
                950: "#020617",
              },
              red_pastel: {
                1: "#FC1E5C",
              },
            },
            fontFamily: {
              exo: ["Exo 2", "sans-serif"],
              outfit: ["Outfit", "sans-serif"],
              pixelify: ["Pixelify Sans", "cursive"],
            },
          },
        },
      };
    </script>
    {% block extra_css %}{% endblock %}
  </head>
  <body class="bg-primary-950 text-white min-h-screen font-exo">
    {% include "marketplace/navbar.html" %} {% block content %} {% endblock %}
    {% include "marketplace/footer.html" %} {% block extra_js %}{% endblock %}
  </body>
</html>
